In [2]:
import pandas as pd
import numpy as np
import tensorflow as tf

# Using SKLEARN

In [3]:
df_1 = pd.read_csv("data/proj14/b_depressed.csv")
df_1.head()

,Survey_id,Ville_id,sex,Age,Married,Number_children,education_level,total_members,gained_asset,durable_asset,...,incoming_salary,incoming_own_farm,incoming_business,incoming_no_business,incoming_agricultural,farm_expenses,labor_primary,lasting_investment,no_lasting_investmen,depressed
0,926,91,1,28,1,4,10,5,28912201,22861940,...,0,0,0,0,30028818,31363432,0,28411718,28292707.0,0
1,747,57,1,23,1,3,8,5,28912201,22861940,...,0,0,0,0,30028818,31363432,0,28411718,28292707.0,1
2,1190,115,1,22,1,3,9,5,28912201,22861940,...,0,0,0,0,30028818,31363432,0,28411718,28292707.0,0
3,1065,97,1,27,1,2,10,4,52667108,19698904,...,0,1,0,1,22288055,18751329,0,7781123,69219765.0,0
4,806,42,0,59,0,4,10,6,82606287,17352654,...,1,0,0,0,53384566,20731006,1,20100562,43419447.0,0

## Data Cleaning

In [4]:
df_1.isna().sum()

Survey_id                 0
Ville_id                  0
sex                       0
Age                       0
Married                   0
Number_children           0
education_level           0
total_members             0
gained_asset              0
durable_asset             0
save_asset                0
living_expenses           0
other_expenses            0
incoming_salary           0
incoming_own_farm         0
incoming_business         0
incoming_no_business      0
incoming_agricultural     0
farm_expenses             0
labor_primary             0
lasting_investment        0
no_lasting_investmen     20
depressed                 0
dtype: int64

In [5]:
df_1["no_lasting_investmen"][:10]

0    28292707.0
1    28292707.0
2    28292707.0
3    69219765.0
4    43419447.0
5    76629095.0
6    55608922.0
7    54600174.0
8    15117619.0
9    28292707.0
Name: no_lasting_investmen, dtype: float64

In [7]:
df_1["no_lasting_investmen"].fillna(np.mean(df_1["no_lasting_investmen"]), inplace=True)

In [8]:
df_1.isna().sum()

Survey_id                0
Ville_id                 0
sex                      0
Age                      0
Married                  0
Number_children          0
education_level          0
total_members            0
gained_asset             0
durable_asset            0
save_asset               0
living_expenses          0
other_expenses           0
incoming_salary          0
incoming_own_farm        0
incoming_business        0
incoming_no_business     0
incoming_agricultural    0
farm_expenses            0
labor_primary            0
lasting_investment       0
no_lasting_investmen     0
depressed                0
dtype: int64

In [10]:
df_1.drop(["Survey_id", "Ville_id"], inplace=True, axis=1)

In [11]:
df_1["sex"].value_counts()

1    1312
0     117
Name: sex, dtype: int64

In [12]:
df_1["Married"].value_counts()

1    1104
0     325
Name: Married, dtype: int64

In [13]:
df_1["depressed"].value_counts()

0    1191
1     238
Name: depressed, dtype: int64

## Splitting The Dataset

In [15]:
from sklearn.model_selection import train_test_split

X = df_1.drop("depressed", axis=1)
y = df_1["depressed"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
len(X_train), len(y_train), len(X_test), len(y_test)

(1143, 1143, 286, 286)

## Training the Model

In [17]:
from sklearn.ensemble import RandomForestClassifier

clf = RandomForestClassifier()
clf.fit(X_train, y_train)

clf.score(X_test, y_test)

0.8111888111888111

# Using Tensorflow Keras

In [18]:
import numpy as np
import tensorflow as tf
import pandas as pd

In [19]:
tf.__version__

'2.10.0'

## Data Selecting

In [20]:
df_2 = pd.read_csv("data/proj14/b_depressed.csv")
df_2.head()

,Survey_id,Ville_id,sex,Age,Married,Number_children,education_level,total_members,gained_asset,durable_asset,...,incoming_salary,incoming_own_farm,incoming_business,incoming_no_business,incoming_agricultural,farm_expenses,labor_primary,lasting_investment,no_lasting_investmen,depressed
0,926,91,1,28,1,4,10,5,28912201,22861940,...,0,0,0,0,30028818,31363432,0,28411718,28292707.0,0
1,747,57,1,23,1,3,8,5,28912201,22861940,...,0,0,0,0,30028818,31363432,0,28411718,28292707.0,1
2,1190,115,1,22,1,3,9,5,28912201,22861940,...,0,0,0,0,30028818,31363432,0,28411718,28292707.0,0
3,1065,97,1,27,1,2,10,4,52667108,19698904,...,0,1,0,1,22288055,18751329,0,7781123,69219765.0,0
4,806,42,0,59,0,4,10,6,82606287,17352654,...,1,0,0,0,53384566,20731006,1,20100562,43419447.0,0

In [21]:
df_2.isna().sum()

Survey_id                 0
Ville_id                  0
sex                       0
Age                       0
Married                   0
Number_children           0
education_level           0
total_members             0
gained_asset              0
durable_asset             0
save_asset                0
living_expenses           0
other_expenses            0
incoming_salary           0
incoming_own_farm         0
incoming_business         0
incoming_no_business      0
incoming_agricultural     0
farm_expenses             0
labor_primary             0
lasting_investment        0
no_lasting_investmen     20
depressed                 0
dtype: int64

In [23]:
df_2["no_lasting_investmen"].fillna(np.mean(df_2["no_lasting_investmen"]), inplace=True)

In [25]:
df_2.drop(["Survey_id", "Ville_id"], inplace=True, axis=1)

In [26]:
X = df_2.iloc[:, :-1].values
y = df_2.iloc[:, -1]

In [29]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

## Bulding ANN

In [45]:
ann = tf.keras.models.Sequential()
ann.add(tf.keras.layers.Dense(units=128, input_dim = 20, activation='relu'))
ann.add(tf.keras.layers.Dense(units=64, activation='relu'))
ann.add(tf.keras.layers.Dense(units=8, activation='relu'))
ann.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

ann.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [46]:
ann.fit(X_train, y_train, batch_size=32, epochs=100)

Epoch 1/100
36/36 [==============================] - 0s 2ms/step - loss: 117443.2188 - accuracy: 0.7043
Epoch 2/100
36/36 [==============================] - 0s 4ms/step - loss: 132.0130 - accuracy: 0.8355
Epoch 3/100
36/36 [==============================] - 0s 3ms/step - loss: 5.7533 - accuracy: 0.8355
Epoch 4/100
36/36 [==============================] - 0s 2ms/step - loss: 0.6548 - accuracy: 0.8355
Epoch 5/100
36/36 [==============================] - 0s 3ms/step - loss: 0.6445 - accuracy: 0.8355
Epoch 6/100
36/36 [==============================] - 0s 3ms/step - loss: 0.6347 - accuracy: 0.8355
Epoch 7/100
36/36 [==============================] - 0s 3ms/step - loss: 0.6253 - accuracy: 0.8355
Epoch 8/100
36/36 [==============================] - 0s 4ms/step - loss: 0.6163 - accuracy: 0.8355
Epoch 9/100
36/36 [==============================] - 0s 4ms/step - loss: 0.6077 - accuracy: 0.8355
Epoch 10/100
36/36 [==============================] - 0s 3ms/step - loss: 0.5995 - accuracy: 0.8355
Epoch 11/100
36/36 [==============================] - 0s 3ms/step - loss: 0.5918 - accuracy: 0.8355
Epoch 12/100
36/36 [==============================] - 0s 4ms/step - loss: 0.5842 - accuracy: 0.8355
Epoch 13/100
36/36 [==============================] - 0s 3ms/step - loss: 0.5770 - accuracy: 0.8355
Epoch 14/100
36/36 [==============================] - 0s 3ms/step - loss: 0.5703 - accuracy: 0.8355
Epoch 15/100
36/36 [==============================] - 0s 2ms/step - loss: 0.5638 - accuracy: 0.8355
Epoch 16/100
36/36 [==============================] - 0s 3ms/step - loss: 0.5575 - accuracy: 0.8355
Epoch 17/100
36/36 [==============================] - 0s 3ms/step - loss: 0.5515 - accuracy: 0.8355
Epoch 18/100
36/36 [==============================] - 0s 2ms/step - loss: 0.5459 - accuracy: 0.8355
Epoch 19/100
36/36 [==============================] - 0s 3ms/step - loss: 0.5405 - accuracy: 0.8355
Epoch 20/100
36/36 [==============================] - 0s 3ms/step - loss: 0.5353 - accuracy: 0.8355
Epoch 21/100
36/36 [==============================] - 0s 2ms/step - loss: 0.5305 - accuracy: 0.8355
Epoch 22/100
36/36 [==============================] - 0s 2ms/step - loss: 0.5259 - accuracy: 0.8355
Epoch 23/100
36/36 [==============================] - 0s 3ms/step - loss: 0.5214 - accuracy: 0.8355
Epoch 24/100
36/36 [==============================] - 0s 6ms/step - loss: 0.5172 - accuracy: 0.8355
Epoch 25/100
36/36 [==============================] - 0s 5ms/step - loss: 0.5132 - accuracy: 0.8355
Epoch 26/100
36/36 [==============================] - 0s 3ms/step - loss: 0.5095 - accuracy: 0.8355
Epoch 27/100
36/36 [==============================] - 0s 2ms/step - loss: 0.5058 - accuracy: 0.8355
Epoch 28/100
36/36 [==============================] - 0s 3ms/step - loss: 0.5024 - accuracy: 0.8355
Epoch 29/100
36/36 [==============================] - 0s 5ms/step - loss: 0.4991 - accuracy: 0.8355
Epoch 30/100
36/36 [==============================] - 0s 2ms/step - loss: 0.4961 - accuracy: 0.8355
Epoch 31/100
36/36 [==============================] - 0s 3ms/step - loss: 0.4931 - accuracy: 0.8355
Epoch 32/100
36/36 [==============================] - 0s 2ms/step - loss: 0.4904 - accuracy: 0.8355
Epoch 33/100
36/36 [==============================] - 0s 4ms/step - loss: 0.4877 - accuracy: 0.8355
Epoch 34/100
36/36 [==============================] - 0s 3ms/step - loss: 0.4852 - accuracy: 0.8355
Epoch 35/100
36/36 [==============================] - 0s 3ms/step - loss: 0.4828 - accuracy: 0.8355
Epoch 36/100
36/36 [==============================] - 0s 3ms/step - loss: 0.4806 - accuracy: 0.8355
Epoch 37/100
36/36 [==============================] - 0s 7ms/step - loss: 0.4785 - accuracy: 0.8355
Epoch 38/100
36/36 [==============================] - 0s 6ms/step - loss: 0.4764 - accuracy: 0.8355
Epoch 39/100
36/36 [==============================] - 0s 7ms/step - loss: 0.4746 - accuracy: 0.8355
Epoch 40/100
36/36 [==============================] - 0s 5ms/step - loss: 0.4728 - accuracy: 0.8355
Epoch 41/100
36/36 [==============================] - 0s 2ms/step - loss: 0.4711 - accuracy: 0.8355
Epoch 42/100
36/36 [==============================] - 0s 3ms/step - loss: 0.4695 - accuracy: 0.8355
Epoch 43/100
36/36 [==============================] - 0s 2ms/step - loss: 0.4680 - accuracy: 0.8355
Epoch 44/100
36/36 [==============================] - 0s 3ms/step - loss: 0.4666 - accuracy: 0.8355
Epoch 45/100
36/36 [==============================] - 0s 4ms/step - loss: 0.4652 - accuracy: 0.8355
Epoch 46/100
36/36 [==============================] - 0s 4ms/step - loss: 0.4640 - accuracy: 0.8355
Epoch 47/100
36/36 [==============================] - 0s 3ms/step - loss: 0.4628 - accuracy: 0.8355
Epoch 48/100
36/36 [==============================] - 0s 2ms/step - loss: 0.4617 - accuracy: 0.8355
Epoch 49/100
36/36 [==============================] - 0s 3ms/step - loss: 0.4606 - accuracy: 0.8355
Epoch 50/100
36/36 [==============================] - 0s 4ms/step - loss: 0.4596 - accuracy: 0.8355
Epoch 51/100
36/36 [==============================] - 0s 4ms/step - loss: 0.4587 - accuracy: 0.8355
Epoch 52/100
36/36 [==============================] - 0s 4ms/step - loss: 0.4579 - accuracy: 0.8355
Epoch 53/100
36/36 [==============================] - 0s 3ms/step - loss: 0.4570 - accuracy: 0.8355
Epoch 54/100
36/36 [==============================] - 0s 3ms/step - loss: 0.4563 - accuracy: 0.8355
Epoch 55/100
36/36 [==============================] - 0s 3ms/step - loss: 0.4555 - accuracy: 0.8355
Epoch 56/100
36/36 [==============================] - 0s 3ms/step - loss: 0.4548 - accuracy: 0.8355
Epoch 57/100
36/36 [==============================] - 0s 2ms/step - loss: 0.4543 - accuracy: 0.8355
Epoch 58/100
36/36 [==============================] - 0s 2ms/step - loss: 0.4536 - accuracy: 0.8355
Epoch 59/100
36/36 [==============================] - 0s 3ms/step - loss: 0.4531 - accuracy: 0.8355
Epoch 60/100
36/36 [==============================] - 0s 2ms/step - loss: 0.4526 - accuracy: 0.8355
Epoch 61/100
36/36 [==============================] - 0s 3ms/step - loss: 0.4521 - accuracy: 0.8355
Epoch 62/100
36/36 [==============================] - 0s 3ms/step - loss: 0.4517 - accuracy: 0.8355
Epoch 63/100
36/36 [==============================] - 0s 3ms/step - loss: 0.4513 - accuracy: 0.8355
Epoch 64/100
36/36 [==============================] - 0s 3ms/step - loss: 0.4509 - accuracy: 0.8355
Epoch 65/100
36/36 [==============================] - 0s 4ms/step - loss: 0.4505 - accuracy: 0.8355
Epoch 66/100
36/36 [==============================] - 0s 4ms/step - loss: 0.4502 - accuracy: 0.8355
Epoch 67/100
36/36 [==============================] - 0s 4ms/step - loss: 0.4499 - accuracy: 0.8355
Epoch 68/100
36/36 [==============================] - 0s 2ms/step - loss: 0.4496 - accuracy: 0.8355
Epoch 69/100
36/36 [==============================] - 0s 2ms/step - loss: 0.4493 - accuracy: 0.8355
Epoch 70/100
36/36 [==============================] - 0s 2ms/step - loss: 0.4491 - accuracy: 0.8355
Epoch 71/100
36/36 [==============================] - 0s 4ms/step - loss: 0.4489 - accuracy: 0.8355
Epoch 72/100
36/36 [==============================] - 0s 7ms/step - loss: 0.4487 - accuracy: 0.8355
Epoch 73/100
36/36 [==============================] - 0s 2ms/step - loss: 0.4485 - accuracy: 0.8355
Epoch 74/100
36/36 [==============================] - 0s 3ms/step - loss: 0.4483 - accuracy: 0.8355
Epoch 75/100
36/36 [==============================] - 0s 6ms/step - loss: 0.4481 - accuracy: 0.8355
Epoch 76/100
36/36 [==============================] - 0s 3ms/step - loss: 0.4480 - accuracy: 0.8355
Epoch 77/100
36/36 [==============================] - 0s 3ms/step - loss: 0.4479 - accuracy: 0.8355
Epoch 78/100
36/36 [==============================] - 0s 3ms/step - loss: 0.4477 - accuracy: 0.8355
Epoch 79/100
36/36 [==============================] - 0s 3ms/step - loss: 0.4476 - accuracy: 0.8355
Epoch 80/100
36/36 [==============================] - 0s 3ms/step - loss: 0.4475 - accuracy: 0.8355
Epoch 81/100
36/36 [==============================] - 0s 2ms/step - loss: 0.4474 - accuracy: 0.8355
Epoch 82/100

36/36 [==============================] - 0s 4ms/step - loss: 0.4473 - accuracy: 0.8355
Epoch 83/100
36/36 [==============================] - 0s 4ms/step - loss: 0.4472 - accuracy: 0.8355
Epoch 84/100
36/36 [==============================] - 0s 2ms/step - loss: 0.4472 - accuracy: 0.8355
Epoch 85/100
36/36 [==============================] - 0s 3ms/step - loss: 0.4471 - accuracy: 0.8355
Epoch 86/100
36/36 [==============================] - 0s 2ms/step - loss: 0.4470 - accuracy: 0.8355
Epoch 87/100
36/36 [==============================] - 0s 2ms/step - loss: 0.4469 - accuracy: 0.8355
Epoch 88/100
36/36 [==============================] - 0s 2ms/step - loss: 0.4469 - accuracy: 0.8355
Epoch 89/100
36/36 [==============================] - 0s 3ms/step - loss: 0.4468 - accuracy: 0.8355
Epoch 90/100
36/36 [==============================] - 0s 2ms/step - loss: 0.4468 - accuracy: 0.8355
Epoch 91/100
36/36 [==============================] - 0s 2ms/step - loss: 0.4468 - accuracy: 0.8355
Epoch 92/100
36/36 [==============================] - 0s 2ms/step - loss: 0.4467 - accuracy: 0.8355
Epoch 93/100
36/36 [==============================] - 0s 2ms/step - loss: 0.4467 - accuracy: 0.8355
Epoch 94/100
36/36 [==============================] - 0s 3ms/step - loss: 0.4467 - accuracy: 0.8355
Epoch 95/100
36/36 [==============================] - 0s 2ms/step - loss: 0.4466 - accuracy: 0.8355
Epoch 96/100
36/36 [==============================] - 0s 2ms/step - loss: 0.4466 - accuracy: 0.8355
Epoch 97/100
36/36 [==============================] - 0s 1ms/step - loss: 0.4466 - accuracy: 0.8355
Epoch 98/100
36/36 [==============================] - 0s 6ms/step - loss: 0.4466 - accuracy: 0.8355
Epoch 99/100
36/36 [==============================] - 0s 6ms/step - loss: 0.4466 - accuracy: 0.8355
Epoch 100/100
36/36 [==============================] - 0s 5ms/step - loss: 0.4466 - accuracy: 0.8355

In [54]:
ann.predict([[1, 22, 1, 3, 3, 5, 33454223.0, 22861440, 23399979, 26695283, 28209066, 1, 0, 1, 0, 3000012, 2034214, 1, 2033321, 302213]]) > 0.5

1/1 [==============================] - 0s 28ms/step

array([[False]])

In [52]:
df_2.head().T

,0,1,2,3,4
sex,1.0,1.0,1.0,1.0,0.0
Age,28.0,23.0,22.0,27.0,59.0
Married,1.0,1.0,1.0,1.0,0.0
Number_children,4.0,3.0,3.0,2.0,4.0
education_level,10.0,8.0,9.0,10.0,10.0
total_members,5.0,5.0,5.0,4.0,6.0
gained_asset,28912201.0,28912201.0,28912201.0,52667108.0,82606287.0
durable_asset,22861940.0,22861940.0,22861940.0,19698904.0,17352654.0
save_asset,23399979.0,23399979.0,23399979.0,49647648.0,23399979.0
living_expenses,26692283.0,26692283.0,26692283.0,397715.0,80877619.0
other_expenses,28203066.0,28203066.0,28203066.0,44042267.0,74503502.0
incoming_salary,0.0,0.0,0.0,0.0,1.0
incoming_own_farm,0.0,0.0,0.0,1.0,0.0
incoming_business,0.0,0.0,0.0,0.0,0.0
incoming_no_business,0.0,0.0,0.0,1.0,0.0
incoming_agricultural,30028818.0,30028818.0,30028818.0,22288055.0,53384566.0
farm_expenses,31363432.0,31363432.0,31363432.0,18751329.0,20731006.0
labor_primary,0.0,0.0,0.0,0.0,1.0
lasting_investment,28411718.0,28411718.0,28411718.0,7781123.0,20100562.0
no_lasting_investmen,28292707.0,28292707.0,28292707.0,69219765.0,43419447.0
depressed,0.0,1.0,0.0,0.0,0.0

In [55]:
y_pred = ann.predict(X_test)
y_pred = (y_pred > 0.5)
from sklearn.metrics import confusion_matrix, accuracy_score

cm = confusion_matrix(y_test, y_pred)
cm

9/9 [==============================] - 0s 6ms/step

array([[236,   0],
       [ 50,   0]])

In [56]:
accuracy_score(y_test, y_pred)

0.8251748251748252