# Fatal Police Shooting

## Importing data

In [27]:
import pandas as pd
df = pd.read_csv("data/proj25/database.csv")
df.head()

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
0,3,Tim Elliot,2015-01-02,shot,gun,53.0,M,A,Shelton,WA,True,attack,Not fleeing,False
1,4,Lewis Lee Lembke,2015-01-02,shot,gun,47.0,M,W,Aloha,OR,False,attack,Not fleeing,False
2,5,John Paul Quintero,2015-01-03,shot and Tasered,unarmed,23.0,M,H,Wichita,KS,False,other,Not fleeing,False
3,8,Matthew Hoffman,2015-01-04,shot,toy weapon,32.0,M,W,San Francisco,CA,True,attack,Not fleeing,False
4,9,Michael Rodriguez,2015-01-04,shot,nail gun,39.0,M,H,Evans,CO,False,attack,Not fleeing,False

## Cleaning the data

In [28]:
df.isna().sum()

id                           0
name                        19
date                         0
manner_of_death              0
armed                        6
age                         43
gender                       1
race                       103
city                         0
state                        0
signs_of_mental_illness      0
threat_level                 0
flee                        36
body_camera                  0
dtype: int64

In [29]:
df.drop(["id", "name", "date"], inplace=True, axis=1)

In [30]:
df.dropna(inplace=True)

In [31]:
len(df)

1986

In [34]:
from sklearn.preprocessing import LabelEncoder

for stuff in df.keys():
    if pd.api.types.is_object_dtype(df[stuff]) == True:
        le = LabelEncoder()
        df[stuff] = le.fit_transform(df[stuff])

## Preparing the data

In [35]:
X = df.drop("manner_of_death", axis=1)
y = df["manner_of_death"]

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

## Training the model

In [36]:
from sklearn.ensemble import RandomForestClassifier

rclf = RandomForestClassifier()
rclf.fit(X_train, y_train)
rclf.score(X_test, y_test)

0.9271356783919598