# Water Quality Prediction

## Importing required modules

In [31]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from xgboost import XGBClassifier
from sklearn.model_selection import train_test_split

## Reading dataset

In [32]:
df = pd.read_csv("data/proj27/waterQuality1.csv")
df.head()

   aluminium ammonia  arsenic  barium  ...  selenium  silver  uranium  is_safe
0       1.65    9.08     0.04    2.85  ...      0.08    0.34     0.02        1
1       2.32   21.16     0.01    3.31  ...      0.08    0.27     0.05        1
2       1.01   14.02     0.04    0.58  ...      0.07    0.44     0.01        0
3       1.36   11.33     0.04    2.96  ...      0.02    0.45     0.05        1
4       0.92   24.33     0.03    0.20  ...      0.02    0.06     0.02        1

[5 rows x 21 columns]

## Cleaning dataset

In [33]:
df.isna().sum()

aluminium      0
ammonia        0
arsenic        0
barium         0
cadmium        0
chloramine     0
chromium       0
copper         0
flouride       0
bacteria       0
viruses        0
lead           0
nitrates       0
nitrites       0
mercury        0
perchlorate    0
radium         0
selenium       0
silver         0
uranium        0
is_safe        0
dtype: int64

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7999 entries, 0 to 7998
Data columns (total 21 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   aluminium    7999 non-null   float64
 1   ammonia      7999 non-null   object
 2   arsenic      7999 non-null   float64
 3   barium       7999 non-null   float64
 4   cadmium      7999 non-null   float64
 5   chloramine   7999 non-null   float64
 6   chromium     7999 non-null   float64
 7   copper       7999 non-null   float64
 8   flouride     7999 non-null   float64
 9   bacteria     7999 non-null   float64
 10  viruses      7999 non-null   float64
 11  lead         7999 non-null   float64
 12  nitrates     7999 non-null   float64
 13  nitrites     7999 non-null   float64
 14  mercury      7999 non-null   float64
 15  perchlorate  7999 non-null   float64
 16  radium       7999 non-null   float64
 17  selenium     7999 non-null   float64
 18  silver       7999 non-null   float64
 19  uranium      7999 non-null   float64
 20  is_safe      7999 non-null   object
dtypes: float64(19), object(2)
memory usage: 1.3+ MB

In [35]:
for i in range(0, len(df["ammonia"])):
    try:
        _ = float(df["ammonia"][i])
    except Exception:
        print(df["ammonia"][i])

#NUM!
#NUM!
#NUM!

In [36]:
for i in range(0, len(df["is_safe"])):
    try:
        _ = float(df["is_safe"][i])
    except Exception:
        print(df["is_safe"][i])

#NUM!
#NUM!
#NUM!

In [37]:
import numpy as np
df["ammonia"].replace("#NUM!", np.nan, inplace=True)
df["ammonia"] = df["ammonia"].astype("float64")
df["ammonia"].fillna(np.mean(df["ammonia"]), inplace=True)
df["is_safe"].replace("#NUM!", np.nan, inplace=True)
df["is_safe"].dropna(inplace=True)
df["is_safe"] = df["is_safe"].astype("float64")

In [53]:
df["is_safe"].fillna(1, inplace=True)

In [55]:
df["is_safe"].isna().sum()

0

In [56]:
df["is_safe"].value_counts()

0.0    7084
1.0     915
Name: is_safe, dtype: int64

## Preprocessing the data

In [57]:
X = df.drop("is_safe", axis=1)
y = df["is_safe"]

In [58]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
X_train

      aluminium  ammonia  arsenic  barium  ...  radium  selenium  silver  uranium
5781       0.01    24.65     0.07    1.68  ...    0.01      0.06    0.03     0.00
3883       0.02    13.57     0.65    3.23  ...    6.35      0.03    0.29     0.08
634        1.08    14.67     0.02    0.35  ...    2.55      0.06    0.17     0.02
7516       0.02     9.95     0.01    2.68  ...    4.95      0.03    0.05     0.08
7700       0.05    11.09     0.09    0.90  ...    0.40      0.00    0.04     0.03
...         ...      ...      ...     ...  ...     ...       ...     ...      ...
5019       0.09    18.67     0.09    0.84  ...    0.87      0.03    0.04     0.08
7496       0.08    12.69     0.06    0.38  ...    0.68      0.05    0.03     0.05
5971       0.01     2.70     0.06    1.72  ...    2.09      0.09    0.07     0.04
4199       0.09    10.69     0.07    0.24  ...    5.57      0.06    0.01     0.07
6761       0.10    27.78     0.07    2.77  ...    0.04      0.10    0.02     0.01

[6399 rows x 20 columns]

In [59]:
y_train

5781    0.0
3883    0.0
634     1.0
7516    0.0
7700    0.0
       ...
5019    0.0
7496    0.0
5971    0.0
4199    0.0
6761    0.0
Name: is_safe, Length: 6399, dtype: float64

## Training Model

In [60]:
rclf = RandomForestClassifier()
rclf.fit(X_train, y_train)
rclf.score(X_test, y_test)

0.955

In [61]:
xgclf = XGBClassifier()
xgclf.fit(X_train, y_train)
xgclf.score(X_test, y_test)

0.95875

In [62]:
knclf = KNeighborsClassifier()
knclf.fit(X_train, y_train)
knclf.score(X_test, y_test)

0.88125