In [80]:
import pandas as pd
import numpy as np
from sklearn.naive_bayes import BernoulliNB
from sklearn.feature_extraction.text import CountVectorizer

In [81]:
df = pd.read_csv("data/proj4/twitter_training.csv")
df.head()

,ID,Entity,Sentiment,Tweat
0,2401,Borderlands,Positive,im getting on borderlands and i will murder yo...
1,2401,Borderlands,Positive,I am coming to the borders and I will kill you...
2,2401,Borderlands,Positive,im getting on borderlands and i will kill you ...
3,2401,Borderlands,Positive,im coming on borderlands and i will murder you...
4,2401,Borderlands,Positive,im getting on borderlands 2 and i will murder ...

In [82]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74682 entries, 0 to 74681
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ID         74682 non-null  int64
 1   Entity     74682 non-null  object
 2   Sentiment  74682 non-null  object
 3   Tweat      73996 non-null  object
dtypes: int64(1), object(3)
memory usage: 2.3+ MB

In [83]:
df.drop(["ID", "Entity"], inplace=True, axis=1)

In [84]:
df.head()

  Sentiment                                              Tweat
0  Positive  im getting on borderlands and i will murder yo...
1  Positive  I am coming to the borders and I will kill you...
2  Positive  im getting on borderlands and i will kill you ...
3  Positive  im coming on borderlands and i will murder you...
4  Positive  im getting on borderlands 2 and i will murder ...

In [85]:
df["Sentiment_Cat"]  = pd.Categorical(df["Sentiment"]).codes
df.head()

  Sentiment                                              Tweat  Sentiment_Cat
0  Positive  im getting on borderlands and i will murder yo...              3
1  Positive  I am coming to the borders and I will kill you...              3
2  Positive  im getting on borderlands and i will kill you ...              3
3  Positive  im coming on borderlands and i will murder you...              3
4  Positive  im getting on borderlands 2 and i will murder ...              3

In [87]:
df.dropna(inplace=True)

In [88]:
vectzer = CountVectorizer(stop_words="english")
twitter_tweat_vect = vectzer.fit_transform(df["Tweat"].values)

In [89]:
berModel = BernoulliNB(alpha=0.1)

berModel.fit(twitter_tweat_vect, df["Sentiment_Cat"])

BernoulliNB(alpha=0.1)

In [90]:
test_df = pd.read_csv("data/proj4/twitter_validation.csv")
test_df.head()

,ID,source,Sentiment,Comment
0,3364,Facebook,Irrelevant,I mentioned on Facebook that I was struggling ...
1,352,Amazon,Neutral,BBC News - Amazon boss Jeff Bezos rejects clai...
2,8312,Microsoft,Negative,@Microsoft Why do I pay for WORD when it funct...
3,4371,CS-GO,Negative,"CSGO matchmaking is so full of closet hacking,..."
4,4433,Google,Neutral,Now the President is slapping Americans in the...

In [91]:
test_df.drop(["ID", "source"], inplace=True, axis=1)

In [92]:
test_df.isna().sum()

Sentiment    0
Comment      0
dtype: int64

In [93]:
pd.Categorical(df["Sentiment"]).codes[:200]

array([3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3,
       3, 3, 1, 1, 1, 1, 1, 1, 3, 3, 3, 3, 3, 3, 1, 1, 1, 1, 1, 1, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 3,
       3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3,
       3, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 3, 3, 3, 3, 3, 0, 0, 0, 0, 0, 0, 3,
       3, 3, 3, 3, 3, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 3, 3, 3, 3, 3,
       3, 3, 3, 3, 3, 3, 3, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3,
       3, 3, 3, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 2, 2, 2, 2, 2, 2, 1,
       1, 1], dtype=int8)

In [94]:
df["Sentiment"][:50]

0     Positive
1     Positive
2     Positive
3     Positive
4     Positive
5     Positive
6     Positive
7     Positive
8     Positive
9     Positive
10    Positive
11    Positive
12     Neutral
13     Neutral
14     Neutral
15     Neutral
16     Neutral
17     Neutral
18    Positive
19    Positive
20    Positive
21    Positive
22    Positive
23    Positive
24    Negative
25    Negative
26    Negative
27    Negative
28    Negative
29    Negative
30    Positive
31    Positive
32    Positive
33    Positive
34    Positive
35    Positive
36    Negative
37    Negative
38    Negative
39    Negative
40    Negative
41    Negative
42     Neutral
43     Neutral
44     Neutral
45     Neutral
46     Neutral
47     Neutral
48     Neutral
49     Neutral
Name: Sentiment, dtype: object

In [95]:
test_df.head()

    Sentiment                                            Comment
0  Irrelevant  I mentioned on Facebook that I was struggling ...
1     Neutral  BBC News - Amazon boss Jeff Bezos rejects clai...
2    Negative  @Microsoft Why do I pay for WORD when it funct...
3    Negative  CSGO matchmaking is so full of closet hacking,...
4     Neutral  Now the President is slapping Americans in the...

In [96]:
test_df["Sentiment_Cat"] = pd.Categorical(test_df["Sentiment"], categories=["Irrelevant", "Negative", "Neutral", "Positive"] ).codes

In [97]:
test_Comment_vect = vectzer.transform(test_df["Comment"].values)

In [98]:
berModel.score(test_Comment_vect, test_df["Sentiment_Cat"])

0.865

In [114]:
def detect_Sentiment(comment):
    text_vect = vectzer.transform([comment])
    output = berModel.predict(text_vect)
    if output[0] == 1:
        return "Negative :("
    elif output[0] == 2:
        return "Neutral :-|"
    elif output[0] == 3:
        return "Positive :)"
    else:
        return "Irrelevant ??!"

In [127]:
detect_Sentiment("I love machine learning and I never felt this love with anything/anyone")

'Positive :)'