# Carvana - Predict Car Price

## Getting data

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("data/proj45/carvana.csv")
df.head()

              Name   Year  Miles  Price
0   Chevrolet Trax   2018  41946  16990
1      GMC Terrain   2020  45328  23990
2    Jeep Wrangler   2012  81068  21590
3    Jeep Renegade   2019  35372  21590
4            BMW X  20173  68992  22990

## Cleaning data

In [3]:
df.isna().sum()

Name     0
Year     0
Miles    0
Price    0
dtype: int64

## Pre-Processing Data

In [4]:
df["Name"].value_counts()

 Toyota Corolla                    835
 Hyundai Elantra                   738
 Toyota Camry                      725
 Nissan Rogue                      528
 Honda Accord                      521
                                  ...
 Ford Expedition EL                  1
 Ford F Lightning                    1
 Mercedes-Benz Mercedes-AMG GLC      1
 Hyundai Genesis Coupe               1
Kia Sorento                          1
Name: Name, Length: 416, dtype: int64

In [7]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df["Name"] = le.fit_transform(df["Name"])
le.classes_

array([' Acura ILX', ' Acura MDX', ' Acura MDX Sport Hybrid',
       ' Acura RDX', ' Acura RLX', ' Acura TL', ' Acura TLX',
       ' Acura TSX', ' Alfa Romeo C Spider', ' Alfa Romeo Giulia',
       ' Alfa Romeo Stelvio', ' Audi A', ' Audi A Sportback e-tron',
       ' Audi Q', ' Audi S', ' Audi TT', ' Audi allroad', ' Audi e-tron',
       ' BMW  Series', ' BMW M', ' BMW X', ' BMW Z', ' BMW i',
       ' Buick Cascada', ' Buick Enclave', ' Buick Encore',
       ' Buick Encore GX', ' Buick Envision', ' Buick LaCrosse',
       ' Buick Lucerne', ' Buick Regal', ' Buick Regal Sportback',
       ' Buick Verano', ' Cadillac ATS', ' Cadillac CT', ' Cadillac CTS',
       ' Cadillac DTS', ' Cadillac ELR', ' Cadillac Escalade ESV',
       ' Cadillac SRX', ' Cadillac XT', ' Cadillac XTS',
       ' Chevrolet Blazer', ' Chevrolet Bolt EV', ' Chevrolet Camaro',
       ' Chevrolet Captiva Sport', ' Chevrolet City Express',
       ' Chevrolet Colorado Crew Cab', ' Chevrolet Colorado Extended Cab',
       ' Chevrolet Corvette', ' Chevrolet Cruze',
       ' Chevrolet Cruze Limited', ' Chevrolet Equinox',
       ' Chevrolet Impala', ' Chevrolet Impala Limited',
       ' Chevrolet Malibu', ' Chevrolet Malibu Limited',
       ' Chevrolet Silverado  Crew Cab',
       ' Chevrolet Silverado  Double Cab',
       ' Chevrolet Silverado  HD Crew Cab',
       ' Chevrolet Silverado  HD Regular Cab',
       ' Chevrolet Silverado  Limited Crew Cab',
       ' Chevrolet Silverado  Regular Cab', ' Chevrolet Sonic',
       ' Chevrolet Spark', ' Chevrolet Spark EV', ' Chevrolet Suburban',
       ' Chevrolet Suburban ', ' Chevrolet Tahoe',
       ' Chevrolet Trailblazer', ' Chevrolet Traverse', ' Chevrolet Trax',
       ' Chevrolet Volt', ' Chrysler ', ' Chrysler Pacifica',
       ' Chrysler Sebring', ' Chrysler Town & Country',
       ' Chrysler Voyager', ' Dodge Avenger', ' Dodge Challenger',
       ' Dodge Charger', ' Dodge Dart', ' Dodge Durango',
       ' Dodge Grand Caravan Passenger', ' Dodge Journey', ' FIAT ',
       ' FIAT  Abarth', ' FIAT  Spider', ' FIAT L', ' FIAT X',
       ' FIAT c Abarth', ' Ford Bronco', ' Ford Bronco Sport',
       ' Ford C-MAX Energi', ' Ford C-MAX Hybrid', ' Ford EcoSport',
       ' Ford Edge', ' Ford Escape', ' Ford Expedition',
       ' Ford Expedition EL', ' Ford Expedition MAX', ' Ford Explorer',
       ' Ford F Lightning', ' Ford F Regular Cab', ' Ford F Super Cab',
       ' Ford F SuperCrew Cab', ' Ford Fiesta', ' Ford Flex',
       ' Ford Focus', ' Ford Focus ST', ' Ford Fusion',
       ' Ford Fusion Energi', ' Ford Maverick', ' Ford Mustang',
       ' Ford Mustang MACH-E', ' Ford Ranger SuperCrew', ' Ford Taurus',
       ' Ford Transit  Wagon', ' Ford Transit Connect Passenger',
       ' Ford Transit Connect Passenger Wagon', ' GMC Acadia',
       ' GMC Acadia Limited', ' GMC Canyon Crew Cab',
       ' GMC Sierra  Crew Cab', ' GMC Sierra  Double Cab',
       ' GMC Sierra  Limited Crew Cab', ' GMC Sierra  Regular Cab',
       ' GMC Terrain', ' GMC Yukon', ' GMC Yukon XL', ' GMC Yukon XL ',
       ' Genesis G', ' Honda Accord', ' Honda Accord Crosstour',
       ' Honda Accord Hybrid', ' Honda CR-V', ' Honda CR-V Hybrid',
       ' Honda CR-Z', ' Honda Civic', ' Honda Civic Type R',
       ' Honda Clarity Plug-in Hybrid', ' Honda Crosstour', ' Honda Fit',
       ' Honda HR-V', ' Honda Insight', ' Honda Odyssey',
       ' Honda Passport', ' Honda Pilot', ' Honda Ridgeline',
       ' Hyundai Accent', ' Hyundai Azera', ' Hyundai Elantra',
       ' Hyundai Elantra GT', ' Hyundai Equus', ' Hyundai Genesis',
       ' Hyundai Genesis Coupe', ' Hyundai IONIQ ',
       ' Hyundai Ioniq Electric', ' Hyundai Ioniq Hybrid',
       ' Hyundai Ioniq Plug-in Hybrid', ' Hyundai Kona',
       ' Hyundai Palisade', ' Hyundai Santa Cruz', ' Hyundai Santa Fe',
       ' Hyundai Santa Fe Sport', ' Hyundai Sonata',
       ' Hyundai Sonata Hybrid', ' Hyundai Sonata Plug-in Hybrid',
       ' Hyundai Tucson', ' Hyundai Tucson Hybrid', ' Hyundai Veloster',
       ' Hyundai Venue', ' Hyundai Veracruz', ' INFINITI EX',
       ' INFINITI FX', ' INFINITI G', ' INFINITI JX', ' INFINITI M',
       ' INFINITI Q', ' INFINITI QX', ' Jaguar E-PACE', ' Jaguar F-PACE',
       ' Jaguar F-TYPE', ' Jaguar XE', ' Jaguar XF', ' Jaguar XJ',
       ' Jeep Cherokee', ' Jeep Compass', ' Jeep Gladiator',
       ' Jeep Grand Cherokee', ' Jeep Grand Cherokee L', ' Jeep Liberty',
       ' Jeep Patriot', ' Jeep Renegade', ' Jeep Wagoneer',
       ' Jeep Wrangler', ' Jeep Wrangler Unlimited', ' Kia Cadenza',
       ' Kia Carnival', ' Kia EV', ' Kia Forte', ' Kia Forte Koup',
       ' Kia K', ' Kia Niro', ' Kia Niro EV', ' Kia Optima',
       ' Kia Optima Hybrid', ' Kia Rio', ' Kia Sedona', ' Kia Seltos',
       ' Kia Sorento', ' Kia Sorento Hybrid',
       ' Kia Sorento Plug-in Hybrid', ' Kia Soul', ' Kia Soul EV',
       ' Kia Sportage', ' Kia Stinger', ' Kia Telluride',
       ' Land Rover Discovery', ' Land Rover Discovery Sport',
       ' Land Rover LR', ' Land Rover Range Rover',
       ' Land Rover Range Rover Evoque', ' Land Rover Range Rover Sport',
       ' Land Rover Range Rover Velar', ' Lexus CT', ' Lexus ES',
       ' Lexus GS', ' Lexus GX', ' Lexus HS', ' Lexus IS', ' Lexus LC',
       ' Lexus LS', ' Lexus NX', ' Lexus RC', ' Lexus RX', ' Lexus UX',
       ' Lincoln Corsair', ' Lincoln MKC', ' Lincoln MKS', ' Lincoln MKX',
       ' Lincoln MKZ', ' Lincoln Nautilus', ' Lincoln Navigator',
       ' Lincoln Town Car', ' MAZDA CX-', ' MAZDA MAZDA',
       ' MAZDA MX- Miata', ' MAZDA MX- Miata RF', ' MAZDA Tribute',
       ' MINI Clubman', ' MINI Convertible', ' MINI Countryman',
       ' MINI Coupe', ' MINI Hardtop', ' MINI Hardtop  Door',
       ' MINI Paceman', ' MINI Roadster', ' Maserati Ghibli',
       ' Maserati GranTurismo', ' Maserati Levante',
       ' Maserati Quattroporte', ' Mercedes-Benz A-Class',
       ' Mercedes-Benz B-Class', ' Mercedes-Benz C-Class',
       ' Mercedes-Benz CLA', ' Mercedes-Benz CLA-Class',
       ' Mercedes-Benz CLK-Class', ' Mercedes-Benz CLS-Class',
       ' Mercedes-Benz E-Class', ' Mercedes-Benz GLA',
       ' Mercedes-Benz GLA-Class', ' Mercedes-Benz GLB',
       ' Mercedes-Benz GLC', ' Mercedes-Benz GLE',
       ' Mercedes-Benz GLK-Class', ' Mercedes-Benz GLS',
       ' Mercedes-Benz M-Class', ' Mercedes-Benz Mercedes-AMG C-Class',
       ' Mercedes-Benz Mercedes-AMG GLC',
       ' Mercedes-Benz Mercedes-AMG GLE Coupe',
       ' Mercedes-Benz Mercedes-AMG SLC', ' Mercedes-Benz R-Class',
       ' Mercedes-Benz S-Class', ' Mercedes-Benz SL',
       ' Mercedes-Benz SL-Class', ' Mercedes-Benz SLC',
       ' Mercedes-Benz SLK-Class', ' Mitsubishi Eclipse Cross',
       ' Mitsubishi Lancer', ' Mitsubishi Mirage', ' Mitsubishi Mirage G',
       ' Mitsubishi Outlander', ' Mitsubishi Outlander PHEV',
       ' Mitsubishi Outlander Sport', ' Mitsubishi i-MiEV',
       ' Nissan Altima', ' Nissan Armada', ' Nissan Frontier Crew Cab',
       ' Nissan Frontier King Cab', ' Nissan JUKE', ' Nissan Kicks',
       ' Nissan LEAF', ' Nissan Maxima', ' Nissan Murano',
       ' Nissan Pathfinder', ' Nissan Quest', ' Nissan Rogue',
       ' Nissan Rogue Select', ' Nissan Rogue Sport', ' Nissan Sentra',
       ' Nissan TITAN XD Crew Cab', ' Nissan Titan Crew Cab',
       ' Nissan Versa', ' Nissan Versa Note', ' Nissan Xterra',
       ' Nissan Z', ' Polestar ', ' Pontiac Solstice', ' Porsche ',
       ' Porsche  Cayman', ' Porsche Boxster', ' Porsche Cayenne',
       ' Porsche Macan', ' Porsche Panamera', ' Ram  Classic Crew Cab',
       ' Ram  Classic Quad Cab', ' Ram  Classic Regular Cab',
       ' Ram  Crew Cab', ' Ram  Quad Cab', ' Ram  Regular Cab',
       ' Saturn SKY', ' Scion FR-S', ' Scion iA', ' Scion iM',
       ' Scion iQ', ' Scion tC', ' Scion xB', ' Scion xD',
       ' Subaru Ascent', ' Subaru BRZ', ' Subaru Crosstrek',
       ' Subaru Forester', ' Subaru Impreza', ' Subaru Legacy',
       ' Subaru Outback', ' Subaru WRX', ' Subaru XV Crosstrek',
       ' Tesla Model ', ' Tesla Model S', ' Tesla Model X',
       ' Tesla Model Y', ' Toyota ', ' Toyota Avalon', ' Toyota C-HR',
       ' Toyota Camry', ' Toyota Camry Hybrid', ' Toyota Corolla',
       ' Toyota Corolla Cross', ' Toyota Corolla Hatchback',
       ' Toyota Corolla Hybrid', ' Toyota Corolla iM',
       ' Toyota FJ Cruiser', ' Toyota GR', ' Toyota GR Supra',
       ' Toyota Highlander', ' Toyota Highlander Hybrid',
       ' Toyota Matrix', ' Toyota Prius', ' Toyota Prius Plug-in Hybrid',
       ' Toyota Prius Prime', ' Toyota Prius c', ' Toyota Prius v',
       ' Toyota RAV', ' Toyota RAV Hybrid', ' Toyota Runner',
       ' Toyota Sequoia', ' Toyota Sienna', ' Toyota Tacoma Access Cab',
       ' Toyota Tacoma Double Cab', ' Toyota Tundra CrewMax',
       ' Toyota Tundra Double Cab', ' Toyota Tundra Hybrid CrewMax',
       ' Toyota Venza', ' Toyota Yaris', ' Toyota Yaris Hatchback',
       ' Toyota Yaris iA', ' Volkswagen Atlas',
       ' Volkswagen Atlas Cross Sport', ' Volkswagen Beetle',
       ' Volkswagen CC', ' Volkswagen Eos', ' Volkswagen GTI',
       ' Volkswagen Golf', ' Volkswagen Golf Alltrack',
       ' Volkswagen Golf GTI', ' Volkswagen Golf SportWagen',
       ' Volkswagen ID.', ' Volkswagen Jetta', ' Volkswagen Jetta GLI',
       ' Volkswagen Jetta SportWagen', ' Volkswagen New Beetle',
       ' Volkswagen Passat', ' Volkswagen Routan', ' Volkswagen Tiguan',
       ' Volkswagen Tiguan Limited', ' Volkswagen Touareg',
       ' Volkswagen e-Golf', ' Volvo C', ' Volvo S', ' Volvo V',
       ' Volvo XC', ' smart fortwo', ' smart fortwo electric drive',
       ' smart fortwo electric drive cabrio', 'Kia Sorento'], dtype=object)

In [8]:
df.head()

   Name   Year  Miles  Price
0    71   2018  41946  16990
1   127   2020  45328  23990
2   195   2012  81068  21590
3   193   2019  35372  21590
4    20  20173  68992  22990

In [9]:
X = df.drop("Price", axis=1)
y = df["Price"]

In [10]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

## Training the model

In [11]:
from sklearn.ensemble import RandomForestRegressor

rfr = RandomForestRegressor()
rfr.fit(X_train, y_train)
rfr.score(X_test, y_test)

0.8409204294279218

In [12]:
from sklearn.neighbors import KNeighborsRegressor

knr = KNeighborsRegressor()
knr.fit(X_train, y_train)
knr.score(X_test, y_test)

0.36154304506568635

In [13]:
from xgboost import XGBRFRegressor

xgbr = XGBRFRegressor()
xgbr.fit(X_train, y_train)
xgbr.score(X_test, y_test)

0.5294435602070157

In [14]:
rfr.predict([[78, 2018, 41000]])

/home/djoe/.local/lib/python3.10/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

array([26150.])