# Customer Personality Analysis

## Getting Dataset

In [1]:
import pandas as pd 
import numpy as np

In [5]:
df = pd.read_csv("data/proj56/marketing_campaign.csv", delimiter='\t')
df.head().T

,0,1,2,3,4
ID,5524,2174,4141,6182,5324
Year_Birth,1957,1954,1965,1984,1981
Education,Graduation,Graduation,Graduation,Graduation,PhD
Marital_Status,Single,Single,Together,Together,Married
Income,58138.0,46344.0,71613.0,26646.0,58293.0
Kidhome,0,1,0,1,1
Teenhome,0,1,0,0,0
Dt_Customer,04-09-2012,08-03-2014,21-08-2013,10-02-2014,19-01-2014
Recency,58,38,26,26,94
MntWines,635,11,426,11,173
MntFruits,88,1,49,4,43
MntMeatProducts,546,6,127,20,118
MntFishProducts,172,2,111,10,46
MntSweetProducts,88,1,21,3,27
MntGoldProds,88,6,42,5,15
NumDealsPurchases,3,2,1,2,5
NumWebPurchases,8,1,8,2,5
NumCatalogPurchases,10,1,2,0,3
NumStorePurchases,4,2,10,4,6
NumWebVisitsMonth,7,5,4,6,5
AcceptedCmp3,0,0,0,0,0
AcceptedCmp4,0,0,0,0,0
AcceptedCmp5,0,0,0,0,0
AcceptedCmp1,0,0,0,0,0
AcceptedCmp2,0,0,0,0,0
Complain,0,0,0,0,0
Z_CostContact,3,3,3,3,3
Z_Revenue,11,11,11,11,11
Response,1,0,0,0,0

## Cleaning Dataset

In [6]:
df.isna().sum()

ID                      0
Year_Birth              0
Education               0
Marital_Status          0
Income                 24
Kidhome                 0
Teenhome                0
Dt_Customer             0
Recency                 0
MntWines                0
MntFruits               0
MntMeatProducts         0
MntFishProducts         0
MntSweetProducts        0
MntGoldProds            0
NumDealsPurchases       0
NumWebPurchases         0
NumCatalogPurchases     0
NumStorePurchases       0
NumWebVisitsMonth       0
AcceptedCmp3            0
AcceptedCmp4            0
AcceptedCmp5            0
AcceptedCmp1            0
AcceptedCmp2            0
Complain                0
Z_CostContact           0
Z_Revenue               0
Response                0
dtype: int64

In [8]:
df["Income"].fillna(np.mean(df["Income"]), inplace=True)

## Preprocessing Dataset

In [9]:
df.drop(["ID", "Dt_Customer"], inplace=True, axis=1)
from sklearn.preprocessing import LabelEncoder

for column in df.keys():
    if pd.api.types.is_object_dtype(df[column]):
        le = LabelEncoder()
        df[column] = le.fit_transform(df[column])
        print(column)
        print("-"*20)
        print(le.classes_)
        print("-"*20)

Education
--------------------
['2n Cycle' 'Basic' 'Graduation' 'Master' 'PhD']
--------------------
Marital_Status
--------------------
['Absurd' 'Alone' 'Divorced' 'Married' 'Single' 'Together' 'Widow' 'YOLO']
--------------------

In [10]:
from sklearn.model_selection import train_test_split

X = df.drop("Response", axis=1)
y = df["Response"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

## Training Model

In [11]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from xgboost import XGBClassifier

In [12]:
rfclf = RandomForestClassifier().fit(X_train, y_train)
rfclf.score(X_test, y_test)

0.8861607142857143

In [13]:
svclf = SVC().fit(X_train, y_train)
svclf.score(X_test, y_test)

0.8571428571428571

In [14]:
xgbclf = XGBClassifier().fit(X_train, y_train)
xgbclf.score(X_test, y_test)

0.8950892857142857