In [2]:
%%bash

pip install -q kaggle
mkdir -p ~/.kaggle
cp drive/MyDrive/kaggle.json ~/.kaggle/
chmod 600 /root/.kaggle/kaggle.json
kaggle datasets download -d sanskar457/fraud-transaction-detection
unzip fraud-transaction-detection.zip

Downloading fraud-transaction-detection.zip to /content

Archive:  fraud-transaction-detection.zip
  inflating: Final Transactions.csv

100%|██████████| 34.0M/34.0M [00:00<00:00, 74.2MB/s]

# Fraud Transaction Detection

## Importing required modules

In [3]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier

## Getting the dataset

In [9]:
df = pd.read_csv("Final Transactions.csv")
df.head()

   Unnamed: 0  TRANSACTION_ID  ... TX_FRAUD  TX_FRAUD_SCENARIO
0           0               0  ...        0                  0
1           1               1  ...        0                  0
2           2               2  ...        1                  1
3           3               3  ...        0                  0
4           4               4  ...        0                  0

[5 rows x 10 columns]

## Cleaning dataset

In [10]:
df.isna().sum()

Unnamed: 0           0
TRANSACTION_ID       0
TX_DATETIME          0
CUSTOMER_ID          0
TERMINAL_ID          0
TX_AMOUNT            0
TX_TIME_SECONDS      0
TX_TIME_DAYS         0
TX_FRAUD             0
TX_FRAUD_SCENARIO    0
dtype: int64

In [11]:
df.drop(["Unnamed: 0", "TRANSACTION_ID", "TX_DATETIME", "CUSTOMER_ID", "TERMINAL_ID"], axis=1, inplace=True)
df.head()

   TX_AMOUNT  TX_TIME_SECONDS  TX_TIME_DAYS  TX_FRAUD  TX_FRAUD_SCENARIO
0     533.07               31             0         0                  0
1     808.56              130             0         0                  0
2    1442.94              476             0         1                  1
3     620.65              569             0         0                  0
4     490.66              634             0         0                  0

## Pre-Processing Dataset

In [12]:
from sklearn.model_selection import train_test_split

X = df.drop("TX_FRAUD", axis=1)
y = df["TX_FRAUD"]

In [15]:
X = X.values
y = y.values

In [16]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

## Training Model

In [17]:
xgbclf = XGBClassifier()

xgbclf.fit(X_train, y_train)
xgbclf.score(X_test, y_test)

1.0

In [18]:
rclf = RandomForestClassifier()

rclf.fit(X_train, y_train)
rclf.score(X_test, y_test)

1.0

## Making Prediction

In [19]:
xgbclf.predict([[542.1, 32, 0, 1]])

array([1])