# Customer Behaviour Classification

## Importing Required Modules

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier

## Getting the data set

In [2]:
df = pd.read_csv("data/proj61/Customer_Behaviour.csv")
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

## Cleaning dataset

In [3]:
df.isna().sum()

User ID            0
Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

## Pre Processing data

In [4]:
df.drop("User ID", inplace=True, axis=1)

In [8]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
df["Gender"] = le.fit_transform(df["Gender"])
le.classes_

array(['Female', 'Male'], dtype=object)

In [12]:
X = df.drop("Purchased", axis=1)
y = df["Purchased"]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
len(X_train), len(y_train)

(320, 320)

## Training the model

In [13]:
rclf = RandomForestClassifier()
rclf.fit(X_train.values, y_train.values)
rclf.score(X_test.values, y_test.values)

0.925

In [14]:
xgbclf = XGBClassifier().fit(X_train.values, y_train.values)

xgbclf.score(X_test.values, y_test.values)

0.9125


## Making Prediction

In [15]:
rclf.predict([[1, 29, 84001]])

array([0])