# Job Placement Prediction

## Importing required packages

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import LabelEncoder
from xgboost import XGBClassifier
from sklearn.model_selection import train_test_split

## Getting dataset

In [2]:
df = pd.read_csv("data/proj62/Job_Placement_Data.csv")
df.head()

  gender  ssc_percentage ssc_board  ...  specialisation mba_percent      status
0      M           67.00    Others  ...          Mkt&HR       58.80      Placed
1      M           79.33   Central  ...         Mkt&Fin       66.28      Placed
2      M           65.00   Central  ...         Mkt&Fin       57.80      Placed
3      M           56.00   Central  ...          Mkt&HR       59.43  Not Placed
4      M           85.80   Central  ...         Mkt&Fin       55.50      Placed

[5 rows x 13 columns]

## Cleaning Data

In [3]:
df.isna().sum()

gender                 0
ssc_percentage         0
ssc_board              0
hsc_percentage         0
hsc_board              0
hsc_subject            0
degree_percentage      0
undergrad_degree       0
work_experience        0
emp_test_percentage    0
specialisation         0
mba_percent            0
status                 0
dtype: int64

## Exploring dataset

In [4]:
df.describe()

       ssc_percentage  hsc_percentage  ...  emp_test_percentage  mba_percent
count      215.000000      215.000000  ...           215.000000   215.000000
mean        67.303395       66.333163  ...            72.100558    62.278186
std         10.827205       10.897509  ...            13.275956     5.833385
min         40.890000       37.000000  ...            50.000000    51.210000
25%         60.600000       60.900000  ...            60.000000    57.945000
50%         67.000000       65.000000  ...            71.000000    62.000000
75%         75.700000       73.000000  ...            83.500000    66.255000
max         89.400000       97.700000  ...            98.000000    77.890000

[8 rows x 5 columns]

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215 entries, 0 to 214
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   gender               215 non-null    object
 1   ssc_percentage       215 non-null    float64
 2   ssc_board            215 non-null    object
 3   hsc_percentage       215 non-null    float64
 4   hsc_board            215 non-null    object
 5   hsc_subject          215 non-null    object
 6   degree_percentage    215 non-null    float64
 7   undergrad_degree     215 non-null    object
 8   work_experience      215 non-null    object
 9   emp_test_percentage  215 non-null    float64
 10  specialisation       215 non-null    object
 11  mba_percent          215 non-null    float64
 12  status               215 non-null    object
dtypes: float64(5), object(8)
memory usage: 22.0+ KB

## Pre-Processing data

In [9]:
for column in df.keys():
    if pd.api.types.is_object_dtype(df[column]):
        le = LabelEncoder()
        print("-"*10)
        df[column] = le.fit_transform(df[column])
        print(le.classes_)
        print("-"*10)

----------
['F' 'M']
----------
----------
['Central' 'Others']
----------
----------
['Central' 'Others']
----------
----------
['Arts' 'Commerce' 'Science']
----------
----------
['Comm&Mgmt' 'Others' 'Sci&Tech']
----------
----------
['No' 'Yes']
----------
----------
['Mkt&Fin' 'Mkt&HR']
----------
----------
['Not Placed' 'Placed']
----------

In [10]:
df.head()

   gender  ssc_percentage  ssc_board  ...  specialisation  mba_percent  status
0       1           67.00          1  ...               1        58.80       1
1       1           79.33          0  ...               0        66.28       1
2       1           65.00          0  ...               0        57.80       1
3       1           56.00          0  ...               1        59.43       0
4       1           85.80          0  ...               0        55.50       1

[5 rows x 13 columns]

In [11]:
X = df.drop("status", axis=1)
y = df["status"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

## Training model

In [12]:
rclf = RandomForestClassifier()
rclf.fit(X_train, y_train)
rclf.score(X_test, y_test)

0.8604651162790697

In [13]:
xgbclf = XGBClassifier()
xgbclf.fit(X_train, y_train)
xgbclf.score(X_test, y_test)

0.7674418604651163