# Malicious Server Hack

## Importing required packages

In [1]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier

## Getting dataset

In [2]:
df_train = pd.read_csv("data/proj63/Train.csv")
df_train.head()

,INCIDENT_ID,DATE,X_1,X_2,X_3,X_4,X_5,X_6,X_7,X_8,X_9,X_10,X_11,X_12,X_13,X_14,X_15,MALICIOUS_OFFENSE
0,CR_102659,04-JUL-04,0,36,34,2,1,5,6,1,6,1,174,1.0,92,29,36,0
1,CR_189752,18-JUL-17,1,37,37,0,0,11,17,1,6,1,236,1.0,103,142,34,1
2,CR_184637,15-MAR-17,0,3,2,3,5,1,0,2,3,1,174,1.0,110,93,34,1
3,CR_139071,13-FEB-09,0,33,32,2,1,7,1,1,6,1,249,1.0,72,29,34,1
4,CR_109335,13-APR-05,0,33,32,2,1,8,3,0,5,1,174,0.0,112,29,43,1

In [3]:
df_test = pd.read_csv("data/proj63/Test.csv")
df_test.head()

,INCIDENT_ID,DATE,X_1,X_2,X_3,X_4,X_5,X_6,X_7,X_8,X_9,X_10,X_11,X_12,X_13,X_14,X_15
0,CR_195453,01-FEB-18,0,30,35,7,3,6,4,0,5,1,174,NaN,72,119,23
1,CR_103520,05-MAR-04,0,44,44,1,3,7,1,4,6,1,316,0.0,12,29,34
2,CR_196089,27-JAN-18,0,34,33,3,5,2,7,3,0,1,316,1.0,72,0,34
3,CR_112195,18-AUG-06,7,3,2,3,5,9,8,0,5,1,174,1.0,112,87,34
4,CR_149832,31-OCT-11,0,7,8,7,3,2,7,1,5,1,174,0.0,112,93,43

In [4]:
len(df_train), len(df_test)

(23856, 15903)

## Checking for invalid values

In [5]:
df_train.isna().sum()

INCIDENT_ID            0
DATE                   0
X_1                    0
X_2                    0
X_3                    0
X_4                    0
X_5                    0
X_6                    0
X_7                    0
X_8                    0
X_9                    0
X_10                   0
X_11                   0
X_12                 182
X_13                   0
X_14                   0
X_15                   0
MALICIOUS_OFFENSE      0
dtype: int64

In [6]:
df_train["X_12"].fillna(0.0, inplace=True)
df_train.isna().sum()

INCIDENT_ID          0
DATE                 0
X_1                  0
X_2                  0
X_3                  0
X_4                  0
X_5                  0
X_6                  0
X_7                  0
X_8                  0
X_9                  0
X_10                 0
X_11                 0
X_12                 0
X_13                 0
X_14                 0
X_15                 0
MALICIOUS_OFFENSE    0
dtype: int64

In [7]:
df_test.isna().sum()

INCIDENT_ID      0
DATE             0
X_1              0
X_2              0
X_3              0
X_4              0
X_5              0
X_6              0
X_7              0
X_8              0
X_9              0
X_10             0
X_11             0
X_12           127
X_13             0
X_14             0
X_15             0
dtype: int64

In [8]:
df_test["X_12"].fillna(0.0, inplace=True)
df_test.isna().sum()

INCIDENT_ID    0
DATE           0
X_1            0
X_2            0
X_3            0
X_4            0
X_5            0
X_6            0
X_7            0
X_8            0
X_9            0
X_10           0
X_11           0
X_12           0
X_13           0
X_14           0
X_15           0
dtype: int64

## Preprocessing dataset

In [12]:
from sklearn.model_selection import train_test_split

df_train.drop(["INCIDENT_ID", "DATE"], axis=1, inplace=True)

X = df_train.drop("MALICIOUS_OFFENSE", axis=1)
y = df_train["MALICIOUS_OFFENSE"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

## Training Model

In [13]:
rclf = RandomForestClassifier()
rclf.fit(X_train, y_train)
rclf.score(X_test, y_test)

0.9937133277451802

In [14]:
from xgboost import XGBClassifier

xgbclf = XGBClassifier()
xgbclf.fit(X_train, y_train)
xgbclf.score(X_test, y_test)

0.9991617770326907

## Prediction

In [15]:
df_test.drop(["INCIDENT_ID", "DATE"], axis=1, inplace=True)

In [17]:
df_test = df_test.values

In [19]:
xgbclf.predict(df_test)

array([1, 1, 1, ..., 1, 1, 1])