# Star Wars Character Home Prediction

## Importing required modules

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier

## Getting the dataset

In [2]:
df = pd.read_csv("data/proj65/star_wars_character_dataset.csv")
df.head()

             name  ...                 starships
0  Luke Skywalker  ...  X-wing, Imperial shuttle
1           C-3PO  ...                       NaN
2           R2-D2  ...                       NaN
3     Darth Vader  ...           TIE Advanced x1
4     Leia Organa  ...                       NaN

[5 rows x 14 columns]

## Cleaning the dataset

In [3]:
df.isna().sum()

name           0
height         6
mass          28
hair_color     5
skin_color     0
eye_color      0
birth_year    44
sex            4
gender         4
homeworld     10
species        4
films          0
vehicles      76
starships     67
dtype: int64

In [4]:
df["height"].fillna(np.mean(df["height"]), inplace=True)
df["mass"].fillna(np.mean(df["mass"]), inplace=True)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87 entries, 0 to 86
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        87 non-null     object
 1   height      87 non-null     float64
 2   mass        87 non-null     float64
 3   hair_color  82 non-null     object
 4   skin_color  87 non-null     object
 5   eye_color   87 non-null     object
 6   birth_year  43 non-null     float64
 7   sex         83 non-null     object
 8   gender      83 non-null     object
 9   homeworld   77 non-null     object
 10  species     83 non-null     object
 11  films       87 non-null     object
 12  vehicles    11 non-null     object
 13  starships   20 non-null     object
dtypes: float64(3), object(11)
memory usage: 9.6+ KB

In [6]:
df["hair_color"].value_counts()

none             37
brown            18
black            13
white             4
blond             3
brown, grey       1
auburn, white     1
auburn, grey      1
grey              1
auburn            1
blonde            1
unknown           1
Name: hair_color, dtype: int64

In [13]:
df["hair_color"].fillna("none", inplace=True)
df["birth_year"].fillna(np.mean(df["birth_year"]), inplace=True)
df["sex"].fillna("male", inplace=True)
df["gender"].fillna("masculine", inplace=True)
df["homeworld"].fillna("none", inplace=True)
df["species"].fillna("Human", inplace=True)
df["vehicles"].fillna("none", inplace=True)
df["starships"].fillna("none", inplace=True)

In [14]:
df.isna().sum()

name          0
height        0
mass          0
hair_color    0
skin_color    0
eye_color     0
birth_year    0
sex           0
gender        0
homeworld     0
species       0
films         0
vehicles      0
starships     0
dtype: int64

## Pre Processing data

In [15]:
for column in df.keys():
    if pd.api.types.is_object_dtype(df[column]):
        le = LabelEncoder()
        df[column] = le.fit_transform(df[column])
        print("-"*10)
        print(column)
        print(le.classes_)
        print("-"*10)

----------
name
['Ackbar' 'Adi Gallia' 'Anakin Skywalker' 'Arvel Crynyd' 'Ayla Secura'
 'BB8' 'Bail Prestor Organa' 'Barriss Offee' 'Ben Quadinaros'
 'Beru Whitesun lars' 'Bib Fortuna' 'Biggs Darklighter' 'Boba Fett'
 'Bossk' 'C-3PO' 'Captain Phasma' 'Chewbacca' 'Cliegg Lars' 'Cordé'
 'Darth Maul' 'Darth Vader' 'Dexter Jettster' 'Dooku' 'Dormé' 'Dud Bolt'
 'Eeth Koth' 'Finis Valorum' 'Finn' 'Gasgano' 'Greedo' 'Gregar Typho'
 'Grievous' 'Han Solo' 'IG-88' 'Jabba Desilijic Tiure' 'Jango Fett'
 'Jar Jar Binks' 'Jek Tono Porkins' 'Jocasta Nu' 'Ki-Adi-Mundi'
 'Kit Fisto' 'Lama Su' 'Lando Calrissian' 'Leia Organa' 'Lobot'
 'Luke Skywalker' 'Luminara Unduli' 'Mace Windu' 'Mas Amedda' 'Mon Mothma'
 'Nien Nunb' 'Nute Gunray' 'Obi-Wan Kenobi' 'Owen Lars' 'Padmé Amidala'
 'Palpatine' 'Plo Koon' 'Poe Dameron' 'Poggle the Lesser' 'Quarsh Panaka'
 'Qui-Gon Jinn' 'R2-D2' 'R4-P17' 'R5-D4' 'Ratts Tyerell' 'Raymus Antilles'
 'Rey' 'Ric Olié' 'Roos Tarpals' 'Rugor Nass' 'Saesee Tiin' 'San Hill'
 'Sebulba' 'Shaak Ti' 'Shmi Skywalker' 'Sly Moore' 'Tarfful' 'Taun We'
 'Tion Medon' 'Wat Tambor' 'Watto' 'Wedge Antilles'
 'Wicket Systri Warrick' 'Wilhuff Tarkin' 'Yarael Poof' 'Yoda'
 'Zam Wesell']
----------
----------
hair_color
['auburn' 'auburn, grey' 'auburn, white' 'black' 'blond' 'blonde' 'brown'
 'brown, grey' 'grey' 'none' 'unknown' 'white']
----------
----------
skin_color
['blue' 'blue, grey' 'brown' 'brown mottle' 'brown, white' 'dark' 'fair'
 'fair, green, yellow' 'gold' 'green' 'green, grey' 'green-tan, brown'
 'grey' 'grey, blue' 'grey, green, yellow' 'grey, red' 'light' 'metal'
 'mottled green' 'none' 'orange' 'pale' 'red' 'red, blue, white'
 'silver, red' 'tan' 'unknown' 'white' 'white, blue' 'white, red' 'yellow']
----------
----------
eye_color
['black' 'blue' 'blue-gray' 'brown' 'dark' 'gold' 'green, yellow' 'hazel'
 'orange' 'pink' 'red' 'red, blue' 'unknown' 'white' 'yellow']
----------
----------
sex
['female' 'hermaphroditic' 'male' 'none']
----------
----------
gender
['feminine' 'masculine']
----------
----------
homeworld
['Alderaan' 'Aleen Minor' 'Bespin' 'Bestine IV' 'Cato Neimoidia' 'Cerea'
 'Champala' 'Chandrila' 'Concord Dawn' 'Corellia' 'Coruscant' 'Dathomir'
 'Dorin' 'Endor' 'Eriadu' 'Geonosis' 'Glee Anselm' 'Haruun Kal' 'Iktotch'
 'Iridonia' 'Kalee' 'Kamino' 'Kashyyyk' 'Malastare' 'Mirial' 'Mon Cala'
 'Muunilinst' 'Naboo' 'Nal Hutta' 'Ojom' 'Quermia' 'Rodia' 'Ryloth'
 'Serenno' 'Shili' 'Skako' 'Socorro' 'Stewjon' 'Sullust' 'Tatooine'
 'Toydaria' 'Trandosha' 'Troiken' 'Tund' 'Umbara' 'Utapau' 'Vulpter'
 'Zolan' 'none']
----------
----------
species
['Aleena' 'Besalisk' 'Cerean' 'Chagrian' 'Clawdite' 'Droid' 'Dug' 'Ewok'
 'Geonosian' 'Gungan' 'Human' 'Hutt' 'Iktotchi' 'Kaleesh' 'Kaminoan'
 'Kel Dor' 'Mirialan' 'Mon Calamari' 'Muun' 'Nautolan' 'Neimodian'
 "Pau'an" 'Quermian' 'Rodian' 'Skakoan' 'Sullustan' 'Tholothian' 'Togruta'
 'Toong' 'Toydarian' 'Trandoshan' "Twi'lek" 'Vulptereen' 'Wookiee' 'Xexto'
 "Yoda's species" 'Zabrak']
----------
----------
films
['A New Hope' 'Attack of the Clones'
 'Attack of the Clones, Revenge of the Sith'
 'Attack of the Clones, Revenge of the Sith, A New Hope'
 'Attack of the Clones, The Phantom Menace'
 'Attack of the Clones, The Phantom Menace, Revenge of the Sith'
 'Return of the Jedi' 'Return of the Jedi, The Force Awakens'
 'Revenge of the Sith' 'Revenge of the Sith, A New Hope'
 'The Empire Strikes Back'
 'The Empire Strikes Back, Attack of the Clones, Return of the Jedi'
 'The Empire Strikes Back, Attack of the Clones, The Phantom Menace, Revenge of the Sith, Return of the Jedi'
 'The Empire Strikes Back, Attack of the Clones, The Phantom Menace, Revenge of the Sith, Return of the Jedi, A New Hope'
 'The Empire Strikes Back, Attack of the Clones, The Phantom Menace, Revenge of the Sith, Return of the Jedi, A New Hope, The Force Awakens'
 'The Empire Strikes Back, Return of the Jedi'
 'The Empire Strikes Back, Return of the Jedi, A New Hope'
 'The Empire Strikes Back, Return of the Jedi, A New Hope, The Force Awakens'
 'The Empire Strikes Back, Revenge of the Sith, Return of the Jedi, A New Hope'
 'The Empire Strikes Back, Revenge of the Sith, Return of the Jedi, A New Hope, The Force Awakens'
 'The Force Awakens' 'The Phantom Menace'
 'The Phantom Menace, Return of the Jedi, A New Hope'
 'The Phantom Menace, Revenge of the Sith']
----------
----------
vehicles
['AT-ST' 'Flitknot speeder' 'Imperial Speeder Bike'
 'Koro-2 Exodrive airspeeder' 'Sith speeder' 'Snowspeeder'
 'Snowspeeder, Imperial Speeder Bike' 'Tribubble bongo'
 'Tsmeu-6 personal wheel bike' 'Zephyr-G swoop bike, XJ-6 airspeeder'
 'none']
----------
----------
starships
['A-wing' 'Belbullab-22 starfighter'
 'H-type Nubian yacht, Naboo star skiff, Naboo fighter' 'Jedi starfighter'
 'Jedi starfighter, Trade Federation cruiser, Naboo star skiff, Jedi Interceptor, Belbullab-22 starfighter'
 'Millennium Falcon' 'Millennium Falcon, Imperial shuttle'
 'Naboo Royal Starship' 'Naboo fighter' 'Scimitar' 'Slave 1'
 'T-70 X-wing fighter' 'TIE Advanced x1'
 'Trade Federation cruiser, Jedi Interceptor, Naboo fighter' 'X-wing'
 'X-wing, Imperial shuttle' 'none']
----------

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87 entries, 0 to 86
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        87 non-null     int64
 1   height      87 non-null     float64
 2   mass        87 non-null     float64
 3   hair_color  87 non-null     int64
 4   skin_color  87 non-null     int64
 5   eye_color   87 non-null     int64
 6   birth_year  87 non-null     float64
 7   sex         87 non-null     int64
 8   gender      87 non-null     int64
 9   homeworld   87 non-null     int64
 10  species     87 non-null     int64
 11  films       87 non-null     int64
 12  vehicles    87 non-null     int64
 13  starships   87 non-null     int64
dtypes: float64(3), int64(11)
memory usage: 9.6 KB

In [17]:
X = df.drop("homeworld", axis=1)
y = df["homeworld"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

## Training the model

In [20]:
rclf = RandomForestClassifier()

rclf.fit(X_train, y_train)
rclf.score(X_test, y_test)

0.1111111111111111