# Household monthly electricity bill prediction

## Importing required libraries

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor

## Getting datasets

In [2]:
df = pd.read_csv("data/proj69/Household energy bill data.csv")
df.head()

   num_rooms  num_people  housearea  ...  num_children  is_urban  amount_paid
0          3           3     742.57  ...             2         0   560.481447
1          1           5     952.99  ...             1         1   633.283679
2          3           1     761.44  ...             0         0   511.879157
3          0           5     861.32  ...             0         0   332.992035
4          1           8     731.61  ...             2         1   658.285625

[5 rows x 10 columns]

## Cleaning dataset

In [3]:
df.isna().sum()

num_rooms             0
num_people            0
housearea             0
is_ac                 0
is_tv                 0
is_flat               0
ave_monthly_income    0
num_children          0
is_urban              0
amount_paid           0
dtype: int64

## Pre-Processing dataset

In [4]:
X = df.drop("amount_paid", axis=1)
y = df["amount_paid"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

## Training model

In [7]:
rreg = RandomForestRegressor()
rreg.fit(X_train.values, y_train.values)
rreg.score(X_test.values, y_test.values)

0.8501362272429082

In [8]:
xreg = XGBRegressor()
xreg.fit(X_train.values, y_train.values)
xreg.score(X_test.values, y_test.values)

0.8136263845607594

## Making Prediction

In [9]:
rreg.predict([[3, 1, 400, 0, 0, 1, 0, 0, 0]])

array([254.13096898])