# Bank Marketing

## Importing required datasets

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier

## Getting datasets

In [2]:
df = pd.read_csv("data/proj71/bank.csv")
df.head()

   age         job  marital  education  ... pdays  previous poutcome deposit
0   59      admin.  married  secondary  ...    -1         0  unknown     yes
1   56      admin.  married  secondary  ...    -1         0  unknown     yes
2   41  technician  married  secondary  ...    -1         0  unknown     yes
3   55    services  married  secondary  ...    -1         0  unknown     yes
4   54      admin.  married   tertiary  ...    -1         0  unknown     yes

[5 rows x 17 columns]

## Cleaning dataset

In [3]:
df.isna().sum()

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
deposit      0
dtype: int64

## Pre-Processing dataset

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11162 entries, 0 to 11161
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        11162 non-null  int64
 1   job        11162 non-null  object
 2   marital    11162 non-null  object
 3   education  11162 non-null  object
 4   default    11162 non-null  object
 5   balance    11162 non-null  int64
 6   housing    11162 non-null  object
 7   loan       11162 non-null  object
 8   contact    11162 non-null  object
 9   day        11162 non-null  int64
 10  month      11162 non-null  object
 11  duration   11162 non-null  int64
 12  campaign   11162 non-null  int64
 13  pdays      11162 non-null  int64
 14  previous   11162 non-null  int64
 15  poutcome   11162 non-null  object
 16  deposit    11162 non-null  object
dtypes: int64(7), object(10)
memory usage: 1.4+ MB

In [6]:
for column in df.keys():
    if pd.api.types.is_object_dtype(df[column]):
        le = LabelEncoder()
        df[column] = le.fit_transform(df[column])
        print("-"*20)
        print(column)
        print(le.classes_)
        print("-"*20)

--------------------
job
['admin.' 'blue-collar' 'entrepreneur' 'housemaid' 'management' 'retired'
 'self-employed' 'services' 'student' 'technician' 'unemployed' 'unknown']
--------------------
--------------------
marital
['divorced' 'married' 'single']
--------------------
--------------------
education
['primary' 'secondary' 'tertiary' 'unknown']
--------------------
--------------------
default
['no' 'yes']
--------------------
--------------------
housing
['no' 'yes']
--------------------
--------------------
loan
['no' 'yes']
--------------------
--------------------
contact
['cellular' 'telephone' 'unknown']
--------------------
--------------------
month
['apr' 'aug' 'dec' 'feb' 'jan' 'jul' 'jun' 'mar' 'may' 'nov' 'oct' 'sep']
--------------------
--------------------
poutcome
['failure' 'other' 'success' 'unknown']
--------------------
--------------------
deposit
['no' 'yes']
--------------------

In [7]:
df.head()

   age  job  marital  education  ...  pdays  previous  poutcome  deposit
0   59    0        1          1  ...     -1         0         3        1
1   56    0        1          1  ...     -1         0         3        1
2   41    9        1          1  ...     -1         0         3        1
3   55    7        1          1  ...     -1         0         3        1
4   54    0        1          2  ...     -1         0         3        1

[5 rows x 17 columns]

In [8]:
X = df.drop("deposit", axis=1)
y = df["deposit"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

## Training model

In [9]:
rclf = RandomForestClassifier().fit(X_train, y_train)
rclf.score(X_test, y_test)

0.8419167039856695

In [10]:
xclf = XGBClassifier().fit(X_train.values, y_train.values)
xclf.score(X_train.values, y_train.values)

0.9653936611042669