# Customer Lifetime Value

## Importing required dataset

In [1]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

## Getting dataset

In [2]:
df = pd.read_csv("data/proj74/train_BRCpofr.csv")
df.head()

   id  gender   area qualification  ... num_policies  policy  type_of_policy    cltv
0   1    Male  Urban      Bachelor  ...  More than 1       A        Platinum   64308
1   2    Male  Rural   High School  ...  More than 1       A        Platinum  515400
2   3    Male  Urban      Bachelor  ...  More than 1       A        Platinum   64212
3   4  Female  Rural   High School  ...  More than 1       A        Platinum   97920
4   5    Male  Urban   High School  ...  More than 1       A            Gold   59736

[5 rows x 12 columns]

## Cleaning dataset

In [3]:
df.isna().sum()

id                0
gender            0
area              0
qualification     0
income            0
marital_status    0
vintage           0
claim_amount      0
num_policies      0
policy            0
type_of_policy    0
cltv              0
dtype: int64

## Pre-Processing dataset

In [6]:
labels = {}
for column in df.keys():
    if pd.api.types.is_object_dtype(df[column]):
        le = LabelEncoder()
        df[column] = le.fit_transform(df[column])
        labels[column] = le.classes_

In [7]:
df.head()

   id  gender  area  ...  policy  type_of_policy    cltv
0   1       1     1  ...       0               1   64308
1   2       1     0  ...       0               1  515400
2   3       1     1  ...       0               1   64212
3   4       0     0  ...       0               1   97920
4   5       1     1  ...       0               0   59736

[5 rows x 12 columns]

In [11]:
df.drop("id", inplace=True, axis=1)

In [12]:
X = df.drop("cltv", axis=1)
y = df["cltv"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

## Training model

In [13]:
rreg = RandomForestRegressor()
rreg.fit(X_train, y_train).score(X_test, y_test)

0.04497316539544971

In [14]:
xreg = XGBRegressor()
xreg.fit(X_train.values, y_train.values)
xreg.score(X_test.values, y_test.values)

0.14306907514789702

In [16]:
from sklearn.neighbors import KNeighborsRegressor

kreg = KNeighborsRegressor()
kreg.fit(X_train, y_train)
kreg.score(X_test, y_test)

-0.09640754237478188