# Diamonds Price Prediction

## Importing required libraries

In [5]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
import matplotlib.pyplot as plt
import seaborn as sns
import regex as re

## Getting dataset

In [49]:
df = pd.read_csv("data/proj91/diamonds.csv")
df.head()

   carat         cut color clarity  depth  table  price   'x'   'y'   'z'
0   0.23    b'Ideal'  b'E'  b'SI2'   61.5   55.0  326.0  3.95  3.98  2.43
1   0.21  b'Premium'  b'E'  b'SI1'   59.8   61.0  326.0  3.89  3.84  2.31
2   0.23     b'Good'  b'E'  b'VS1'   56.9   65.0  327.0  4.05  4.07  2.31
3   0.29  b'Premium'  b'I'  b'VS2'   62.4   58.0  334.0  4.20  4.23  2.63
4   0.31     b'Good'  b'J'  b'SI2'   63.3   58.0  335.0  4.34  4.35  2.75

## Pre-Processing

In [50]:
re.search("(?<=b').*(?=')", df["clarity"][0]).group()

'SI2'

In [51]:
for i in range(len(df["color"])):
    df["color"][i] = re.search("(?<=b').*(?=')", df["color"][i]).group()

/tmp/ipykernel_15537/1133035776.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["color"][i] = re.search("(?<=b').*(?=')", df["color"][i]).group()

In [52]:
for i in range(len(df["clarity"])):
    df["clarity"][i] = re.search("(?<=b').*(?=')", df["clarity"][i]).group()

/tmp/ipykernel_15537/2706174207.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["clarity"][i] = re.search("(?<=b').*(?=')", df["clarity"][i]).group()

In [53]:
df.head()

   carat         cut color clarity  depth  table  price   'x'   'y'   'z'
0   0.23    b'Ideal'     E     SI2   61.5   55.0  326.0  3.95  3.98  2.43
1   0.21  b'Premium'     E     SI1   59.8   61.0  326.0  3.89  3.84  2.31
2   0.23     b'Good'     E     VS1   56.9   65.0  327.0  4.05  4.07  2.31
3   0.29  b'Premium'     I     VS2   62.4   58.0  334.0  4.20  4.23  2.63
4   0.31     b'Good'     J     SI2   63.3   58.0  335.0  4.34  4.35  2.75

In [54]:
for i in range(len(df["cut"])):
    df["cut"][i] = re.search("(?<=b').*(?=')", df["cut"][i]).group()

/tmp/ipykernel_15537/943728270.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["cut"][i] = re.search("(?<=b').*(?=')", df["cut"][i]).group()

In [55]:
labels = {}
for stuff in df.keys():
    if pd.api.types.is_object_dtype(df[stuff]):
        le = LabelEncoder()
        df[stuff] = le.fit_transform(df[stuff])
        labels[stuff] = le.classes_

In [56]:
df.head()

   carat  cut  color  clarity  depth  table  price   'x'   'y'   'z'
0   0.23    2      1        3   61.5   55.0  326.0  3.95  3.98  2.43
1   0.21    3      1        2   59.8   61.0  326.0  3.89  3.84  2.31
2   0.23    1      1        4   56.9   65.0  327.0  4.05  4.07  2.31
3   0.29    3      5        5   62.4   58.0  334.0  4.20  4.23  2.63
4   0.31    1      6        3   63.3   58.0  335.0  4.34  4.35  2.75

In [57]:
X = df.drop("price", axis=1)
y = df["price"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

## Training model

In [58]:
from xgboost import XGBRegressor

In [60]:
xreg = XGBRegressor()
xreg.fit(X_train.values, y_train.values)
xreg.score(X_test.values, y_test.values)

0.9807416528083671

## Making Prediction

In [72]:
xreg.predict([X_test.values[23]])

array([783.34784], dtype=float32)